.chat-style{
    word-break: break-all;
    padding: 1%;
    border-radius: 5px;
    background-color: rgb(57, 129, 196);
    display: inline-block;
   }

   .infoMessage{
    margin-bottom: 2%;
    font-size: x-small;
   }

   .infoMessage span{
    margin-right: 1%;
   }