<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Boost</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="myClassContent">
    <ion-row class="ion-margin-top">
      <ion-col size="12" class="ion-text-center ion-margin">
        <ion-icon button size="large" name="rocket"></ion-icon>
      </ion-col>
      <ion-col size="12" class="ion-text-center ion-margin">
        <h1>Event Boost!</h1>
      </ion-col>
      <ion-col size="12" class="ion-text-center ion-margin">
        <h5>Promote this event to the top of the page for ten minutes</h5>
      </ion-col>
      <ion-col size="12" class="ion-text-center ion-margin" >
        <ion-row class="ion-text-center">
          <ion-col sizeLg="3" sizeXs="0"></ion-col>
          <ion-col sizeLg="2" sizeXs="12" class="ion-text-center" (click)="numberOfBoosts(30)">
            <ion-card class="ion-margin ion-padding ion-padding-buttom" button>
              <ion-card-header>
                30
              </ion-card-header>
              <ion-card-content>
                Boosts
              </ion-card-content>
              <ion-card-subtitle>
                For the time 2.00 SAR
              </ion-card-subtitle>
            </ion-card>
          </ion-col>
          <ion-col sizeLg="2" sizeXs="12" class="ion-text-center" (click)="numberOfBoosts(10)">
            <ion-card class="ion-margin ion-padding ion-padding-buttom" button>
              <ion-card-header>
                10
              </ion-card-header>
              <ion-card-content>
                Boosts
              </ion-card-content>
              <ion-card-subtitle>
                For the time 4.00 SAR
              </ion-card-subtitle>
            </ion-card>
          </ion-col>
          <ion-col sizeLg="2" sizeXs="12" class="ion-text-center" (click)="numberOfBoosts(5)">
            <ion-card class="ion-margin ion-padding ion-padding-buttom" button>
              <ion-card-header>
                5
              </ion-card-header>
              <ion-card-content>
                Boosts
              </ion-card-content>
              <ion-card-subtitle>
                For the time 5.00 SAR
              </ion-card-subtitle>
            </ion-card>
          </ion-col>
          <ion-col sizeLg="3" sizeXs="0"></ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
